{
  "singleQuote": true,
  "semi": true,
  "stylelintIntegration": true,
  "eslintIntegration": true,
  "insertPragma": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 120
}
