@import url('./reset.scss');

body {
  font-weight: 500;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  .content {
    color: #12345678;
    user-select: none;
    transform: all;
    text-align: center;
  }
  :fullscreen {}
}